.post {
  padding: 3rem 0;

  &-info {
    color: var(--default-tint);
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: var(--default-shade);
    font-family: $sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid var(--default-shade);
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }
  
  &-content {
    color: var(--default-shade);
    font-family: $sans-serif;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: var(--default-tint);
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
  
  &-table {
    border-collapse: collapse;
    margin: auto auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  &-table thead tr {
    background-color: #026854;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  &-table th,
  &-table td {
    padding: 12px 15px;
  }
  
  &-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  &-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  &-table tbody tr:last-of-type {
    border-bottom: 2px solid #026854;
  }
  
  &-table tbody tr.active-row {
    font-weight: bold;
    color: #026854;
  }

  &-table + p > em {
    color: var(--default-tint);
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }
}
