aside.toc {
    position: sticky;
    top: 17rem;
    max-width: 30%;

    // We want the table of contents to be on the left (horizontally), to be
    // positioned at a specific point (vertically), stick to the top on scroll
    // and it should not affect the layout of other elements.
    // "float: left" accomplishes the horizontal positioning, position in the
    // element tree the vertical positioning and "position: sticky" does the
    // stickiness. "height: 0" makes sure that the flow of other elements is not
    // affected.
    //
    // There does not seem to be a better way to do this unless one is willing
    // to implement scrolling in JS: "position" must be set to sticky so neither
    // fixed, nor absolute, nor relative positioning can be used.
    float: right;
    height: 0;
    overflow: display;

    // This is apparenty necessary so that the table of contents covers elements
    // with the "filter:" property set.
    z-index: 1;

    margin-left: 1rem;
}

.toc-title {
    font-family: $sans-serif;
    font-size: 0.74rem;
}

.toc-main {
    font-family: $sans-serif;
    font-size: 0.94rem;
    
    ul li a{
        color: rgba(0, 0, 0, 0.6);
        text-decoration : underline;
        text-underline-offset: 0.1em;
    }
    ul li a:hover{
        color: rgb(10, 133, 209);
        
    }
}

nav#TableOfContents ul {
    list-style-type: none;
    padding-inline-start: 1rem;
}

nav#TableOfContents > ul {
    padding-inline-start: 0;
}

nav#TableOfContents li {
    margin-top: 0.4rem;
}
